@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Vollkorn:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 1;
}

* {
  box-sizing: border-box;
}

#animate {
  text-underline-offset: var(--offset, 0.2em);
  text-decoration: underline 0.15em;
  text-decoration-thickness: 8px;
  text-decoration-color: #9d69a3;
  transition: --offset 0.75s, ease-out text-decoration-color 0.75s;
}

#animate:hover,
#animate:focus {
  --offset: 0.4em;
  text-decoration-color: #9d69a3;
}

@supports not (background: paint(something)) {
  #animate {
    transition: text-underline-offset ease-out 0.75s,
      text-decoration-color 0.75s;
  }

  #animate:hover,
  #animate:focus {
    text-underline-offset: 0.4em;
  }
}

@layer components {
  .main-decor {
    @apply transition-all duration-300 ease-in-out;
  }

  .animate-decor {
    @apply bg-left-bottom bg-gradient-to-r from-engviolet to-engviolet bg-[length:100%_5px] bg-no-repeat group-hover:bg-[length:0%_5px] transition-all duration-700 ease-out;
  }
}

.pump-cosmic {
  text-decoration: none;
  white-space: nowrap;
  color: #9D69A3;
  position: relative;
}

.pump-cosmic::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 1000ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #9D69A3;
}

.pump-cosmic:hover:after {
  top: 0%;
}


.pump-feldgrau {
  text-decoration: none;
  white-space: nowrap;
  color: #395B50;
  position: relative;
}

.pump-feldgrau::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 1000ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #395B50;
}

.pump-feldgrau:hover:after {
  top: 0%;
}
